@import "../Partials/mixins";

.About {
  display: flex;
  min-height: 100vh;
  background-image: url(../../assets/images/Sleepy/IMG_2289.JPG);
  background-size: cover;
  justify-content: center;
  @include mobile {
    min-height: 100vh;
    background-image: url(../../assets/images/Sleepy/IMG_0042.jpg);
    background-size: cover;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70vw;
    @include mobile {
      padding-top: 20vh;
    }
  }
  &__bio {
    line-height: 1.2em;
    width: 100%;
    color: white;
    @include tablet {
      font-size: 1rem;
    }
    @include desktop {
      font-size: 1.2rem;
    }
    @include largeDesk {
      font-size: 2.2rem;
    }

    &--life {
      color: rgb(255, 230, 0);
    }
    &--juxt {
      color: rgb(255, 119, 0);
    }
    &--glitch {
      color: rgb(24, 202, 230);
    }
  }
}
