.About {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  background-image: url(../../assets/images/Sleepy/IMG_2289.JPG);
  background-size: cover;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
  }
  &__bio {
    line-height: 1.2em;
    width: 70%;
    color: white;
  }
}
