@import "../Partials/mixins";

.About {
  display: flex;
  height: 100vh;
  background-image: url(../../assets/images/Sleepy/IMG_2289.JPG);
  background-size: cover;
  justify-content: center;
  @include mobile {
    height: 100%;
    background-image: url(../../assets/images/Sleepy/IMG_0042.jpg);
    background-size: cover;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70vw;
    @include mobile {
      padding-top: 20vh;
    }
  }
  &__quote {
    color: white;
    font-style: italic;
    font-size: 1.2rem;
  }
  &__bio {
    line-height: 1.2em;
    width: 100%;
    color: white;
    &--juxt {
      color: yellow;
    }
    &--creation {
      color: red;
    }
    &--chaos {
      color: purple;
    }
  }
}
