@import "../Partials/mixins";

.Navbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 20vh;
  color: grey;
  z-index: 1;
  &__sidebar {
    display: flex;
    flex-direction: row;
    width: 35%;
    height: 80vh;
    padding-top: 20vh;
    @include mobile {
      padding-top: 0vw;
      display: flex;
      width: 35%;
      height: 100vh;
      flex-direction: column;
      overflow: visible;
    }
  }
  &__menuItem {
    font-size: 1.1em;
    margin: 12px;
    color: white;
    text-decoration: none;
    &--header {
      font-size: 1.2em;
      margin: 12px;
      color: red;
    }
    &--shoot {
      font-size: 1em;
      margin: 6px;
      color: white;
      text-decoration: none;
    }
  }
  &__mainNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    height: 100%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    @include mobile {
      display: none;
    }
  }
  &__portfolioLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    animation: fadeIn 0.5s ease-in;
    @include mobile {
      display: none;
    }
  }
  &__links {
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 3%;
    margin: 0;
    text-decoration: none;
    color: red;
    font-weight: bold;
    @include largeDesk {
      font-size: 2.5rem;
    }
  }
  &__portfolio {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 80%;
    height: 100%;
    animation: fadeIn 0.5s ease-in;
    @include mobile {
      display: flex;
      justify-content: center;
      height: 100%;
      width: 65%;
    }
  }
  &__portfolioShoots {
    height: 100%;
    width: 100%;
    @include mobile {
      width: 100%;
    }
  }
  &__shootSublist {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
    @include mobile {
      color: white;
      animation: fadeIn 0.5s ease-in;
    }
  }
  &__shootSubheader {
    cursor: pointer;
    margin: 0;
    color: red;
    @include largeDesk {
      font-size: 2.3rem;
    }
    @include mobile {
      display: none;
    }
  }
  &__shootList {
    display: flex;
    align-items: center;
    height: 90%;
    flex-direction: column;
    @include mobile {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 75vh;
      justify-content: flex-start;
      align-items: center;
    }
  }
  &__shoot {
    list-style-type: none;
    text-decoration: none;
    margin: 5% 0;
    cursor: pointer;
    color: grey;
    height: 1em;
    &:hover {
      animation: color 1s ease-in;
      animation-fill-mode: forwards;
    }
    @include largeDesk {
      font-size: 1.8rem;
    }
    @include mobile {
      background-color: grey;
      width: 90%;
      text-align: center;
      height: 1em;
      color: white;
      border: 1px solid white;
      border-radius: 3px;
    }
  }
  &__about {
    @include mobile {
      display: none;
    }
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    @include largeDesk {
      font-size: 2.8rem;
    }
  }
  &__header {
    text-decoration: none;
    color: grey;
    font-size: 2.5rem;
    &:hover {
      animation: color 0.5s ease-in;
      animation-fill-mode: forwards;
    }
    @include mobile {
      font-size: 2rem;
    }
    @include largeDesk {
      font-size: 5rem;
    }
  }
  &__contact {
    display: flex;
    justify-content: flex-end;
    width: 35%;
  }
  &__contactIcons {
    display: flex;
    width: 25%;
    justify-content: space-around;
    align-items: center;
    @include mobile {
      display: none;
    }
  }
  &__contactLink {
    color: white;
  }
}

.bm-burger-button {
  filter: invert(0.5);
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  width: 50%;
  height: 50%;
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
  @include largeDesk {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes color {
  0% {
    color: grey;
  }
  100% {
    color: red;
  }
}
