.Navbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 20vh;
  color: white;
  &__sidebar {
    display: flex;
    width: 35%;
    height: 80vh;
    padding-top: 20vh;
  }
  &__mainNav {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
  &__links {
    cursor: pointer;
    font-size: 1.2rem;
    padding-bottom: 3%;
    margin: 0;
  }
  &__portfolio {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 80%;
    height: 100%;
  }
  &__portfolioShoots {
    height: 100%;
    width: 100%;
    color: white;
    // background-color: white;
    // filter: invert(1);
  }
  &__shootSublist {
    display: flex;
    justify-content: space-evenly;
    height: 10%;
  }
  &__shootSubheader {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &__shootList {
    height: 90%;
  }
  &__shoot {
    list-style-type: none;
    margin: 5% 0;
  }
  &__about {
    margin: 5% 0;
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
  }
  &__contact {
    display: flex;
    justify-content: flex-end;
    width: 35%;
  }
  &__contactIcons {
    display: flex;
    width: 25%;
    justify-content: space-around;
    align-items: center;
  }
}
