@import "../Navbar/Navbar.scss";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Background {
  height: 100vh;
  background-color: black;
  transition: all 0.5s linear;

  &__image {
    height: 80vh;
    width: 65vw;
    margin-top: 20vh;
    margin-left: 35vw;
  }
}

// .Navbar__shoot:hover ~ .Background {
//   animation: fadeIn 2s;
// }
