@import "../Navbar/Navbar.scss";
@import "../Partials/mixins";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Background {
  height: 100vh;
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s linear;

  &__image {
    height: 80vh;
    width: 65vw;
    margin-top: 20vh;
    margin-left: 35vw;
  }
}
